.form > .MuiFormControl-root {
    display: block;
  }
  
  .form > .MuiButton-root {
    display: flex;
  }
  
  .form > div {
    margin-bottom: 30px;
  }
  
  .form > button {
    width: 100%;
  }
  
  .buttons > button {
    display: flex;
    margin-bottom: 15px;
  }
  