.quiz-view {
  align-items: center;
  .view-content {
    width: 70vw;
    max-width: 840px;
    .quiz-question-option {
      width: 100%;
      margin: 25px 0;
      text-align: left;
      text-transform: none;
      display: flex;
      justify-content: left;
      padding: 12px 20px 12px 45px;
      .mark {
        padding: 0 5px;
      }
    }
  }

  .quiz-view-content-complete {
    .success-icon {
      width: 70px;
      height: 70px;
    }
  }
}
